<mat-spinner
  class="position-absolute"
  diameter="30"
  *ngIf="loading"
></mat-spinner>
<div class="container">
  <mat-card>
    <h2 mat-card-title>
      {{ updateTask ? "Edit task " + updateTask.title : "Create task" }}
    </h2>

    <form [formGroup]="createForm" (ngSubmit)="create()">
      <mat-form-field class="full-width">
        <mat-label>Title</mat-label>
        <input
          type="text"
          formControlName="title"
          placeholder="Type in a title"
          matInput
        />
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Description</mat-label>
        <textarea
          formControlName="description"
          placeholder="Type in a description"
          matInput
        ></textarea>
      </mat-form-field>

      <mat-card-actions align="end">
        <a mat-button mat-raised-button (click)="testSocket()">Test Socket</a>
        <a
          routerLink="/"
          mat-button
          mat-raised-button
          *ngIf="!updateTask; else btc"
          >Back</a
        >
        <ng-template #btc>
          <button mat-button (click)="backToCreate()">Back to create</button>
        </ng-template>
        <button mat-button mat-raised-button color="primary">
          {{ updateTask ? "Update" : "Create" }}
        </button>
      </mat-card-actions>
    </form>
  </mat-card>

  <mat-divider></mat-divider>

  <mat-list>
    <h3 matSubheader>Tasks</h3>
    <mat-list-item *ngFor="let task of tasks">
      <mat-icon matListIcon>task_alt</mat-icon>
      <h4 matLine>{{ task.title }}</h4>
      <p matLine class="description">{{ task.description }}</p>
      <button mat-button (click)="updateMode(task)">Edit</button>
      <button mat-button (click)="confirmDelete(task)">Delete</button>
    </mat-list-item>
  </mat-list>
</div>
