<div class="chat-container d-flex flex-column flex-grow-1">
  <div class="position-relative flex-grow-1">
    <div
      class="
        position-absolute
        h-100
        w-100
        d-flex
        align-items-center
        justify-content-center
        z-10
      "
      *ngIf="!isConnected"
    >
      <mat-spinner class="position-absolute" diameter="60"></mat-spinner>
      <h1 class="mt-6">Connecting</h1>
    </div>
    <div
      class="position-absolute h-100 messages w-100 d-flex flex-column"
      #messagesContainer
      (scroll)="onScroll($event)"
    >
      <div
        *ngFor="let message of messages"
        class="message p-2 d-flex flex-column"
        [ngClass]="[message.from._id === user._id ? 'me' : 'partner']"
      >
        <a
          role="button"
          [routerLink]="['/direct-message', message.from.username]"
          >{{ message.from.username }}</a
        >
        <div class="bubble-container d-flex align-items-center">
          <div class="bubble p-3">{{ message.message }}</div>
          <mat-icon
            *ngIf="
              type === MessageType.Direct ||
              message.from._id === user._id ||
              room?.owner._id === user._id
            "
            role="button"
            class="delete"
            (click)="confirmDeleteMessage(message)"
            >delete</mat-icon
          >
        </div>
        <i>{{ message.createdAtDate | date: 'short' }}</i>
      </div>

      <div
        *ngFor="let userTyping of typing"
        class="message p-2 d-flex flex-column"
        [ngClass]="[userTyping._id === user._id ? 'me' : 'partner']"
      >
        <a
          role="button"
          [routerLink]="['/direct-message', userTyping.username]"
          >{{ userTyping.username }}</a
        >
        <div class="bubble-container typing d-flex align-items-center">
          <div class="bubble p-3">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-container bg-white p-2">
    <form
      (ngSubmit)="sendMessage()"
      [formGroup]="messageForm"
      class="d-flex align-items-center"
    >
      <mat-form-field class="full-width fs-4 me-2">
        <mat-label>Message</mat-label>
        <textarea
          type="text"
          placeholder="Type a message"
          matInput
          formControlName="message"
          rows="2"
          (keydown)="sendTyping()"
          (keydown.enter)="sendMessage()"
        ></textarea>
      </mat-form-field>
      <div class="d-flex justify-content-center">
        <button mat-icon-button color="primary">
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </form>
  </div>
</div>
