<div class="chat-container d-flex flex-column flex-grow-1">
  <div class="position-relative flex-grow-1">
    <div class="position-absolute h-100 messages" #messagesContainer>
      <div *ngFor="let message of messages" class="message fs-5 p-2">
        <b *ngIf="message.from">{{ message.from.username }}:</b>
        {{ message.message }}
      </div>
    </div>
  </div>
  <div class="text-container p-2">
    <form (ngSubmit)="sendMessage()" [formGroup]="messageForm">
      <mat-form-field class="full-width">
        <mat-label>Message</mat-label>
        <textarea
          type="text"
          placeholder="Type a message"
          matInput
          formControlName="message"
          (keydown.enter)="sendMessage()"
        ></textarea>
      </mat-form-field>
    </form>
  </div>
</div>
