<div class="position-relative h-100 w-100 flex-column message">
  <div class="chat-container bg-white position-relative h-100 w-100">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo recusandae
    eveniet quo magni esse doloribus, ut fuga adipisci, nihil velit blanditiis
    rem. Fugiat ipsam quibusdam dicta quaerat quas vitae totam?
  </div>
  <div class="text-container p-2 bg-primary flex-grow-2">
    <mat-form-field class="full-width">
      <mat-label>Message</mat-label>
      <textarea type="text" placeholder="Type a message" matInput></textarea>
    </mat-form-field>
  </div>
</div>
