@import 'bootstrap-globals';

:host {
  display: flex;
  flex-grow: 1;
}

.messages {
  overflow: auto;

  .message {
    word-break: break-word;
    overflow-wrap: break-all;

    & > i {
      font-size: 0.8rem;
    }

    &:first-child {
      margin-top: 1rem;
    }

    &:last-child {
      margin-bottom: 1rem;
    }

    & > a {
      font-size: 0.8rem;
      color: #444;
      text-decoration: none;
    }

    * {
      display: inline-flex;
    }

    .typing {
      span {
        height: 1rem;
        width: 1rem;
        float: left;
        margin: 0 1px;
        background-color: #9e9ea1;
        display: block;
        border-radius: 50%;
        opacity: 0.4;
        @for $i from 1 through 3 {
          &:nth-of-type(#{$i}) {
            animation: 1s blink infinite ($i * 0.3333s);
          }
        }
      }

      .bubble {
        white-space: initial;
      }
    }

    .bubble-container {
      .delete {
        display: none;
      }

      &:hover,
      &:focus {
        .delete {
          display: flex;
        }
      }

      .bubble {
        box-shadow: 2px 2px 5px 0 rgba($color: #000000, $alpha: 0.2);
        border-radius: 0.5rem;
        white-space: pre-wrap;
        font-size: 1rem;
      }
    }

    &.me {
      align-items: flex-end;

      .bubble-container {
        flex-direction: row-reverse;

        .bubble {
          background-color: map-get($theme-colors, 'primary');
          border-top-right-radius: 0;
          color: #fff;
        }
      }
    }

    &.partner {
      align-items: flex-start;

      .bubble {
        background-color: rgba($color: #000000, $alpha: 0.03);
        border-top-left-radius: 0;
      }
    }
  }
}

.mt-6 {
  margin-top: 8rem;
}

.z-10 {
  z-index: 10;
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}
