:host {
  display: flex;
  flex-grow: 1;
}

.messages {
  overflow: auto;
  max-height: 100%;

  .message {
    word-break: break-word;
    overflow-wrap: break-all;
    width: 100%;
  }
}

.mt-6 {
  margin-top: 8rem;
}

.z-10 {
  z-index: 10;
}
