@import 'bootstrap-globals';

:host {
  display: flex;
  flex-grow: 1;
}

.messages {
  overflow: auto;

  .message {
    word-break: break-word;
    overflow-wrap: break-all;

    &:first-child {
      margin-top: 1rem;
    }

    &:last-child {
      margin-bottom: 1rem;
    }

    span {
      font-size: 1rem;
    }

    * {
      display: inline-flex;
    }

    .bubble-container {
      .delete {
        display: none;
      }

      &:hover,
      &:focus {
        .delete {
          display: flex;
        }
      }

      .bubble {
        box-shadow: 2px 2px 5px 0 rgba($color: #000000, $alpha: 0.2);
        border-radius: 0.5rem;
      }
    }

    &.me {
      align-items: flex-end;

      .bubble-container {
        flex-direction: row-reverse;

        .bubble {
          background-color: map-get($theme-colors, 'primary');
          border-top-right-radius: 0;
          color: #fff;
        }
      }
    }

    &.partner {
      align-items: flex-start;

      .bubble {
        background-color: rgba($color: #000000, $alpha: 0.03);
        border-top-left-radius: 0;
      }
    }
  }
}

.mt-6 {
  margin-top: 8rem;
}

.z-10 {
  z-index: 10;
}
