<div class="container" *ngIf="!user; else logged">
  <a routerLink="/login" mat-button mat-raised-button>Login</a>
  <a routerLink="/register" mat-button mat-raised-button>Register</a>
  <a routerLink="/recover" mat-button mat-raised-button>Forgot my password</a>
</div>

<ng-template #logged>
  <div class="container">
    <h3>
      Welcome, <b>{{ user.username }}</b
      >!
    </h3>
    <button (click)="logout()" mat-button mat-raised-button>Logout</button>
    <a routerLink="/rooms" mat-button mat-raised-button>Rooms</a>
    <a routerLink="/settings" mat-button mat-raised-button>Settings</a>
  </div>
</ng-template>
