<mat-spinner
  class="position-absolute"
  diameter="30"
  *ngIf="loading"
></mat-spinner>
<div class="container mt-5">
  <mat-card>
    <h2 mat-card-title>Rooms</h2>

    <button mat-button (click)="openCreateDialog()">Create Room</button>
    <button mat-button (click)="openJoinRoomDialog()">Join Room</button>
    <a mat-button routerLink="/">Back</a>
  </mat-card>

  <mat-list>
    <h3 matSubheader>Your Rooms</h3>
    <div *ngFor="let room of userRooms">
      <app-room-item
        [memberRooms]="memberRooms"
        [userRooms]="userRooms"
        [publicRooms]="publicRooms"
        [room]="room"
        [user]="user"
      ></app-room-item>

      <mat-divider></mat-divider>
    </div>
  </mat-list>

  <mat-list>
    <h3 matSubheader>Joined Rooms</h3>
    <div *ngFor="let room of memberRooms">
      <app-room-item
        [memberRooms]="memberRooms"
        [userRooms]="userRooms"
        [publicRooms]="publicRooms"
        [room]="room"
        [user]="user"
      ></app-room-item>

      <mat-divider></mat-divider>
    </div>
  </mat-list>

  <mat-list>
    <h3 matSubheader>Public Rooms</h3>
    <div *ngFor="let room of publicRooms">
      <app-room-item
        [memberRooms]="memberRooms"
        [userRooms]="userRooms"
        [publicRooms]="publicRooms"
        [room]="room"
        [user]="user"
      ></app-room-item>

      <mat-divider></mat-divider>
    </div>
  </mat-list>
</div>
