<mat-spinner
  class="position-absolute"
  diameter="30"
  *ngIf="loading"
></mat-spinner>
<div class="container mt-5">
  <mat-card>
    <h2 mat-card-title>Rooms</h2>

    <button mat-button (click)="openCreateDialog()">Create Room</button>
    <button mat-button (click)="openJoinRoomDialog()">Join Room</button>
    <a mat-button routerLink="/">Back</a>
  </mat-card>

  <mat-list>
    <h3 matSubheader>Your Rooms</h3>
    <mat-list-item *ngFor="let room of userRooms">
      <mat-icon matListIcon>person</mat-icon>
      <h4 matLine>{{ room.title }} ({{ room.members.length }})</h4>
      <p matLine class="description">{{ room.description }}</p>
      <button mat-button (click)="openUpdateDialog(room)">Edit</button>
      <button mat-button (click)="confirmDelete(room)">Delete</button>
      <button mat-button (click)="copyUrl(room)">Copy</button>
      <button mat-button (click)="joinRoom(room)">Join</button>
    </mat-list-item>
  </mat-list>

  <mat-list>
    <h3 matSubheader>Rooms you are in</h3>
    <mat-list-item *ngFor="let room of memberRooms">
      <mat-icon matListIcon>group</mat-icon>
      <h4 matLine>{{ room.title }} ({{ room.members.length }})</h4>
      <a
        matLine
        class="description"
        [routerLink]="['/direct-message', room.owner.username]"
      >
        {{ room.owner.username }}
      </a>
      <div *ngIf="room.owner === user._id || room.owner._id === user._id">
        <button mat-button (click)="openUpdateDialog(room)">Edit</button>

        <button mat-button (click)="confirmDelete(room)">Delete</button>
      </div>
      <button mat-button (click)="copyUrl(room)">Copy</button>
      <button mat-button (click)="confirmLeaveRoom(room)">Leave</button>
      <button mat-button (click)="joinRoom(room)">Join</button>
    </mat-list-item>
  </mat-list>

  <mat-list>
    <h3 matSubheader>Public Rooms</h3>
    <mat-list-item *ngFor="let room of publicRooms">
      <mat-icon matListIcon>group</mat-icon>
      <h4 matLine>{{ room.title }} ({{ room.members.length }})</h4>
      <a
        matLine
        class="description"
        [routerLink]="['/direct-message', room.owner.username]"
      >
        {{ room.owner.username }}
      </a>
      <div *ngIf="room.owner === user._id || room.owner._id === user._id">
        <button mat-button (click)="openUpdateDialog(room)">Edit</button>

        <button mat-button (click)="confirmDelete(room)">Delete</button>
      </div>
      <button mat-button (click)="copyUrl(room)">Copy</button>
      <button mat-button (click)="joinRoom(room)">Join</button>
    </mat-list-item>
  </mat-list>
</div>
