<mat-spinner
  class="position-absolute"
  diameter="30"
  *ngIf="loading"
></mat-spinner>
<div class="container">
  <mat-card>
    <h2 mat-card-title>Change your password</h2>
    <p mat-card-subtitle>Change your password by completing the form</p>

    <form [formGroup]="changePasswordForm" (ngSubmit)="submit()">
      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input
          type="password"
          formControlName="password"
          placeholder="Type in your new password"
          matInput
        />
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Confirm Password</mat-label>
        <input
          type="password"
          formControlName="confirmPassword"
          placeholder="Confirm your new password"
          matInput
        />
      </mat-form-field>

      <mat-card-actions align="end">
        <a routerLink="/" mat-button mat-raised-button>Back</a>
        <button mat-button mat-raised-button color="primary">
          Change password
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
